* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

header {
  height: 60px;
  background-color: gainsboro;
}

main {
  display: flex;
}

main .list-container {
  width: 40%;
}

main .map-container {
  width: 60%;
}